/* @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap'); */

/* .your-cart-title { */
  /* font-family: "Allura", cursive; */
  /* font-weight: 400; */
  /* font-size: 60px; */
  /* font-style: normal; */
/* } */
.cart-wrapper {
  background: #d9dada;
  /* font-family: Arial, sans-serif; */
}

/* LEFT PANEL */
.left-panel {
  padding: 80px 60px;
}

.section-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}

.suggest-list {
  list-style: none;
  padding: 0;
}

.suggest-list li {
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 15px;
  transition: opacity 0.3s;
}

.suggest-list li:hover,
.suggest-list li.active {
  opacity: 0.6;
}

/* RIGHT PANEL */
.right-panel {
  border-left: 1px solid #333;
  padding: 40px;
  animation: slideIn 0.6s ease;

}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(30px); }
  to { opacity: 1; transform: translateX(0); }
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.close {
  font-size: 20px;
  cursor: pointer;
}

/* CART ITEM */
.cartpage-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.product-img {
  width: 60px;
  height: 80px;
  background: #eee;
  margin-right: 15px;
}

.product-info p {
  margin: 0 0 8px;
}

.qty-box {
  display: flex;
  border: 1px solid #333;
  width: 100px;
}

.qty-box button {
  background: none;
  border: none;
  width: 30px;
}

.qty-box span {
  padding: 0 12px;
}

.price {
  margin-left: auto;
  text-align: right;
}

.delete {
  display: block;
  cursor: pointer;
}

/* SHIPPING */
.shipping input {
  width: 100%;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid #333;
  background: transparent;
}

.outline-btn {
  border: 1px solid #333;
  background: none;
  padding: 8px 16px;
  margin-top: 10px;
}

/* NOTE */
.note textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #333;
  background: transparent;
}

/* TOTAL */
.total-box {
  border-top: 1px solid #333;
  margin-top: 30px;
  padding-top: 20px;
}

.row-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.bold {
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #333;
  background: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .right-panel {
    border-left: none;
    border-top: 1px solid #333;
  }
}
.left-panel {
  position: relative;
  z-index: 5;
}

.suggest-list li {
  cursor: pointer;
  pointer-events: auto;
}
