@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.your-cart-title {
  font-family: "Allura", cursive;
  /* font-weight: 400; */
  font-size: 60px;
  font-style: normal;
}
