.account-page {
  background: #f7f7f7;
  min-height: 100vh;
}

.sidebar {
  padding-left: 40px;
}

.sidebar-menu li {
  margin-bottom: 18px;
  cursor: pointer;
  color: #555;
}

.sidebar-menu li:hover {
  color: black;
}

.profile-form input {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background: transparent;
}

.profile-form input:focus {
  box-shadow: none;
  border-color: black;
}

.support-links p {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  cursor: pointer;
}

.support-links p:hover {
  color: black;
}
.support-link {
  text-decoration: none;
  color: black;
  display: block;
}

.support-link:hover {
  color: #555;
}
.sidebar-menu li{
cursor:pointer;
color:#777;
margin-bottom:18px;
transition:0.3s;
}

.sidebar-menu li:hover{
color:black;
}

/* active item */
.sidebar-menu .active-menu{
color:black;
font-weight:600;
}



/* GRID LAYOUT */
.orders-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.order-card {
  padding: 10px 0;
}

/* DATE */
.order-date-title {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
}

.order-date-title span {
  color: black;
  font-size: 13px;
}

/* ROW */
.order-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* IMAGE */
.order-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: #eee;
  padding: 5px;
}

/* INFO */
.order-info h6 {
  margin: 2px 0;
  font-size: 14px;
}

.order-info p {
  margin: 0;
  font-size: 12px;
  color: #555;
}

.order-info small {
  font-size: 11px;
  color: #777;
}

/* BUTTON */
.invoice-btn {
  border: 1px solid #ccc;
  background: white;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

.invoice-btn:hover {
  background: #f5f5f5;
}
@media (max-width: 992px) {
  .orders-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .orders-grid {
    grid-template-columns: 1fr;
  }
}