.zod-btn {
  background: #fff;
  color: #000;
  padding: 14px 28px;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  width: 90%;
  max-width: 420px;
  padding: 25px;
  border-radius: 16px;
  text-align: center;
  color: #000;
}

.label {
  text-align: left;
  display: block;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 15px;
}

.modal-content input {
  width: 100%;
  padding: 12px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.calc-btn {
  width: 100%;
  padding: 12px;
  background: #6a00ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

.close-btn {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #ff0033;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.result {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #555;
  transition: all 0.25s ease;
}

.modal-close:hover {
  color: #000;
  transform: rotate(90deg) scale(1.1);
}
