.thankyou-container {
  height: 500px;
  overflow: hidden;
  background: #444444;
}

/* LEFT PANEL */
.left-panel {
  background: #444444;
  color: white;
  text-align: center;
  animation: slideLeft 0.8s ease;
}

.thank-text {
  font-size: 70px;
  font-weight: 400;
}

.line {
  width: 120px;
  height: 2px;
  background: #3fa2ff;
  margin-top: 10px;
}

.back-link {
  font-size: 18px;
  opacity: 0.8;
  font-weight: 400;
  cursor: pointer;
}

.back-link span {
  margin-left: 5px;
}

/* RIGHT PANEL */
.right-panel {
  background: #f3f3f3;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  animation: slideRight 0.8s ease;
}

/* BOX CONTENT */
.success-box {
  /* max-width: 300px; */
}

/* CHECK ICON */
.check-icon {
  width: 60px;
  height: 60px;
  /* border: 2px solid #7aa300; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* background: #fff; */
}

/* Image inside circle */
.check-img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

/* TEXT */
.title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.desc {
  font-size: 14px;
  color: #333;
}

.view-order {
  font-size: 18px;
  color: #777;
  cursor: pointer;
}

.view-order span {
  margin-left: 5px;
}

/* 🔥 ANIMATIONS */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {
  .thankyou-container {
    height: auto;
    /* padding: 40px 20px; */
  }
  .left-panel {
    height: 40vh;
  }

  .right-panel {
    height: 60vh;
    border-radius: 40px 40px 0 0;
  }

  .thank-text {
    font-size: 40px;
  }
}