.about-section {
  background: #7a7a7a;
  padding: 40px 0;
  color: #fff;
}

/* LEFT */
.about-left h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.3;
}

/* CENTER TEXT */
.about-center p {
  font-size: 14px;
  line-height: 19px;
  color: #e5e5e5;
  margin-bottom: 15px;
}
.tolvv-section{
  align-items: start !important;
}
.about-tagline {
  margin-top: 30px;
  font-size: 18px;
}

/* RIGHT IMAGE */
.about-right {
  /* background: #cfcfcf; */
  border-radius: 30px;
  /* padding: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  width: 100%;
  /* max-width: 320px; */
  object-fit: contain;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.about-section {
  background: #7a7a7a;
  /* padding: 60px 40px; */
  color: #fff;
}

/* LEFT TITLE */
.about-left h2 {
  font-size: 40px;
  line-height: 1.2;
}

/* CENTER TEXT */
.about-center p {
  font-size: 14px;
  opacity: 0.9;
}

.about-tagline {
  margin-top: 20px;
  font-weight: 500;
}

/* RIGHT IMAGE */
.about-right {
  display: flex;
  justify-content: center;
}

.about-image {
  width: 100%;
  /* max-width: 320px; */
  /* border-radius: 20px; */
}


/* 🔥 ZODIAC ROW */
.zodiac-row-tolvv {
  margin-top: 40px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 30px;
}

.zodiac-item {
  text-align: center;
  font-size: 12px;
}

.zodiac-circle-tolvv {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.zodiac-circle-tolvv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Hover Effect */
.zodiac-circle:hover {
  transform: scale(1.15);
}

.zodiac-item p {
  margin-top: 6px;
  font-size: 11px;
  opacity: 0.9;
}
/* 🔥 RESPONSIVE */
@media (max-width: 992px) {
  .about-section {
    text-align: center;
  }

  .about-left {
    margin-bottom: 20px;
  }

  .about-center {
    margin-bottom: 30px;
  }

  .about-left h2 {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .about-left h2 {
    font-size: 24px;
  }

  .about-center p {
    font-size: 12px;
  }

  .about-tagline {
    font-size: 16px;
  }
  .about-image {
    border-radius: 0 !important;
  }
}
