/* .product-wrapper {
  background: #ffffff;
  padding: 50px 0;
}

.product-wrapper .product-heading {
  color: #000;
}

.product-wrapper .product-box {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}
.buy-btn {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 10px 0;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.buy-btn:hover {
  background: #333;
} */
.product-card {
  margin-bottom: 40px;
}

.product-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.product-img {
  width: 100%;
  max-width: 160px;
  height: 200px;
  object-fit: contain;
  margin: 0 auto 15px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

.product-info .name {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  min-height: 40px; /* IMPORTANT */
}

.product-info .size {
  font-size: 13px;
  margin: 2px 0;
}

.underline {
  width: 40px;
  height: 1px;
  background: #000;
  margin: 10px 0;
}

.buy-btn {
  margin-top: auto; /* PUSH BUTTON TO BOTTOM */
  padding: 10px 25px;
  border: 1px solid #000;
  background: transparent;
  font-size: 13px;
  letter-spacing: 1px;
  cursor: pointer;
}
.buy-btn:hover {
  background: #000;
  color: #fff;
}