.product-img {
  width: 100%;
  max-width: 260px;
  background: #f5f5f5;
  padding: 30px;
}

.icon-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.icon-box {
  border: 1px solid #000;
  padding: 6px 10px;
  font-size: 12px;
}

.add-btn {
  margin-top: 20px;
  border: 1px solid #000;
  background: none;
  padding: 8px 18px;
  font-size: 12px;
  transition: 0.3s;
}

.add-btn:hover {
  background: #000;
  color: #fff;
}

.product-link {
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 1px;
}

.product-link.active {
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .product-img {
    max-width: 100%;
  }
}
/* HERO IMAGE ONLY */
.zodiac-hero {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* IMAGE */
.zodiac-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TABLET */
@media (max-width: 992px) {
  .zodiac-hero {
    height: 60vh;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .zodiac-hero {
    height: 45vh;
  }
}
