/* HERO IMAGE ONLY */
.zodiac-hero {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* IMAGE */
.zodiac-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TABLET */
@media (max-width: 992px) {
  .zodiac-hero {
    height: 60vh;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  .zodiac-hero {
    height: 45vh;
  }
}
.zodiac-quote-section {
  padding: 60px 20px;
  text-align: center;
  /* max-width: 900px; */
  margin: 0 auto;
}

/* TEXT */
.zodiac-quote-text {
  font-size: 15px;
  line-height: 1.8;
  color: #222;
  max-width: 750px;
  margin: 0 auto 30px;
}

/* DIVIDER */
.zodiac-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

/* LINE */
.zodiac-line {
  width: 500px;
  height: 1px;
  background: #222;
  opacity: 0.6;
}

/* STAR */
.zodiac-star {
  font-size: 70px;
  color: #222;
  line-height: 1;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .zodiac-line {
    width: 250px;
  }

  .zodiac-quote-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .zodiac-line {
    width: 150px;
  }
}
